<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" rel="stylesheet" />

    <title>Form</title>
  </head>

  <body>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1><b>This first heading</b> Will Catch Your Eye</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam obcaecati aliquid tenetur nihil sint voluptate harum voluptatem voluptatibus aspernatur eius esse, ex quis unde voluptatum iure beatae praesentium voluptates id.</p>
      </div>
    <div class="col-md-4"> <img src="foto.png" alt="face" class="rounded-circle" width="auto"> </div>
  </div>
</div>



  <div class="card-row"> <!-- "form-row" -->
    <div class="card col-md-8">
      <label for="formGroupExampleInput">Card #</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="XXXX XXXX XXXX XXXX" pattern="[0-9]{16}" />
    </div>
    <div class="card col-md-4">
      <label for="formGroupExampleInput">CVC</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="000" pattern="[0-9]{3}" />
    </div>          
  </div>

        

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>